<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>My Profile</title>
</head>
<body>
<nav>
    <div class="nav-wrapper" style="background-color: black">
        <div class="container">
            <a href="#" class="brand-logo">School Management System</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/auth/home}">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a th:href="@{/auth/login}">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container" style="margin-top: 5rem">
    <p style="font-size: 20px;" th:text="'Welcome '+ ${person.getFirstName()} + ' ' + ${person.getLastName()}"></p>
<table>
    <thead>
    <tr>
        <th>BioData</th>

    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Matricriculation-Number:</td>
        <td th:text="${person.getMatricNo()}"></td>

    </tr>
    <tr>
        <td>Title:</td>
        <td th:text="${person.getTitle()}"></td>

    </tr>
    <tr>
        <td>Surname:</td>
        <td th:text="${person.getLastName()}"></td>

    </tr>
    <tr>
        <td>First Name:</td>
        <td th:text="${person.getFirstName()}"></td>

    </tr>
    <tr>
        <td>Middle Name:</td>
        <td th:text="${person.getMiddleName()}"></td>

    </tr>

    <tr>
        <td>Religion:</td>
        <td th:text="${person.getReligion()}"></td>

    </tr>
    <tr>
        <td>Date Of Birth:</td>
        <td th:text="${person.getDoB()}"></td>

    </tr>
    <tr>
        <td>Nationality:</td>
        <td th:text="${person.getNationality()}"></td>

    </tr>
    <tr>
        <td>Email-Address:</td>
        <td th:text="${person.getEmail()}"></td>

    </tr>

    <tr>
        <td>Programme:</td>
        <td th:text="${person.getProgramme()}"></td>

    </tr>
    <tr>
        <td>Permanent- Address:</td>
        <td th:text="${person.getPermanentAddress()}"></td>

    </tr>
    </tbody>
</table>
</div>
</body>
</html>